@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);

$red: #ff593c;
$dark-red: #dc4c33;
$grey: #DDD;
$dark-grey: #BBB;

body{
  font-family: 'Source Code Pro', sans-serif;
}

.top50{
  margin-top: 50px;
}

.top100{
  margin-top: 100px;
}

.btn{
  border-radius: 4px;
}

.btn-primary{
  background-color: $red;
  border-color: $red;
  font-weight: lighter;

  &:hover{
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.btn-danger{
  color: $grey;
  background-color: transparent;
  border-color: $grey;

  &:hover{
    color: $dark-grey;
    border-color: $dark-grey;
    background-color: transparent;
  }
}

.btn-default{
  background-color: transparent;
  border-color: $red;
  color: $red;
  font-weight: lighter;

  &:hover{
    background-color: transparent;
    border-color: $dark-red;
    color: $dark-red;
  }
}

#logo{
  font-family: 'Source Code Pro', sans-serif;
  color: white;

  &.big{
    color: #404040;
    font-weight: lighter;
    font-size: 72px;
    margin-top: 50px;
  }

  .red{
    color: $red;
  } 
}

header{
  padding-bottom: 40px;

  h2{
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 70px;
  }
}

section{
  height: 300px;
  &.description{
    background-color: $red;
  }
}

#sets{
  .panel-body{
    //background-color: #f0f0f0;
  }

  .list-group-item{
    font-weight: 100;
  }
}